.item {
  width: 33%;
}
.title {
  height: 20vh;
}
.title, img, .description, .authors {
  display: flex;
  justify-content: center;
  margin: 3% 5% 3% 5%;
}
.description {
  height: 10vh;
}
img {
  height: 25vh;
}
.frame {
  display: flex;
  justify-content: center;
  align-items: center;
}
.authors {
  height: 10vh;
}
