* {
margin: 0;
padding: 0;

}
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}
.loader {
  text-align: center;
}
.hidden {
  display: none;
}
body {
  min-height: 101vh;
}
